.deps
.libs
*~
*.o
*.lo
missing
ltmain.sh
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
COPYING
autom4te.cache/
config.h
config.h.in
stamp-h1
onig-config
libonig.la
libonig.pc
libtool
sample/crnl
sample/encode
sample/listcap
sample/names
sample/posix
sample/simple
sample/sql
sample/syntax
