.deps
.libs
*~
*.o
missing
ltmain.sh
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
COPYING
autom4te.cache/
config.h
config.h.in
stamp-h1
